Package: com.wrp1002.retrovol
Name: RetroVol
Version: 1.0.0
Architecture: iphoneos-arm
Description: Old TV volume bar!
Maintainer: Wes <wes.hamster@gmail.com>
Author: Wes <wes.hamster@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.2), org.thebigboss.libcolorpicker
